* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #001f3d;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 0 20px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
  animation: loader 0.8s ease infinite;
}

.dot.one {
  animation-delay: 0.3s;
}
.dot.two {
  animation-delay: 0.4s;
}
.dot.three {
  animation-delay: 0.5s;
}
.dot.four {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    width: 40px;
    height: 40px;
  }
  50% {
    width: 30px;
    height: 30px;
  }
}
