body {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

a {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 14px 50px;
  margin: 10px;
}
