* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222831;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 7rem 0;
  justify-content: center;
  align-items: center;
}

hr {
  width: 85%;
  border: none;
  height: 2px;
  background-color: #cccccc4a;
}

ul {
  display: flex;
  gap: 0px 50px;
  color: #fff;
  list-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  li {
    cursor: pointer;
  }
}

.nav1 li {
  position: relative;
  padding: 5px 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;
  }
  &:hover::before,
  &:hover::after {
    transform: scaleX(1);
  }
}

.nav2 li {
  position: relative;
  padding: 5px 0;
  transition: 1s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #dfd0b8; */
    opacity: 0;
    transform: scaleY(2);
    transform: 1s;
    border-top: 2px solid #dfd0b8;
    border-bottom: 2px solid #dfd0b8;
  }
  &::after {
    content: "";
    background: #dfd0b8;
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: scale(0);
    z-index: -1;
  }
  &:hover::before {
    transform: scaleY(1.2);
    opacity: 1;
  }
  &:hover::after {
    transform: scaleY(1);
  }
  &:hover {
    color: #222831;
  }
}

.nav3 li {
  position: relative;
  padding: 5px 0;
  transition: 0.5s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    opacity: 0;
    transition: all 0.6s;
  }
  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
  &::before {
    bottom: 12px;
    left: 12px;
    border-width: 0 0 3px 3px;
  }
  &:hover::before {
    bottom: -8px;
    left: -8px;
  }
  &::after {
    top: 12px;
    right: 12px;
    border-width: 3px 3px 0 0;
  }
  &:hover::after {
    top: -8px;
    right: -8px;
  }
}
