* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --primary: #fff;
  --secondry: #000;
  --transition-time: 0.3s;
  --liner-color-one: rgba(12, 3, 51, 0.3);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    var(--liner-color-one),
    var(--liner-color-one)
  );
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .content {
    text-align: center;
    h1 {
      font-size: 160px;
      color: var(--primary);
      font-weight: 600;
      transition: var(--transition-time);
      &:hover {
        -webkit-text-stroke: 2px var(--primary);
        color: transparent;
      }
    }
    a {
      text-decoration: none;
      display: inline-block;
      color: var(--primary);
      font-size: 24px;
      border: 2px solid var(--primary);
      padding: 14px 50px;
      margin-top: 20px;
      transition: var(--transition-time);
      &:hover {
        background-color: var(--primary);
        color: var(--secondry);
      }
    }
  }
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 650px) {
  .hero .content {
    h1 {
      font-size: 100px;
    }
    a {
      font-size: 18px;
      padding: 10px 30px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 425px) {
  .hero .content {
    h1 {
      font-size: 70px;
    }
    a {
      font-size: 14px;
    }
  }
}
