* {
  padding: 0;
  margin: 0;
} 

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

.content {
  padding: 4rem;
  section {
    border: 2px solid #fff;
    margin: 20px 0;
    padding: 20px;
    h1 {
      margin: 10px 0;
    }
  }
}

.scrollbar {
  height: 5px;
  width: calc(100% -  6em);
  position: fixed;
  top: 10px;
  left: 3em;
  border-radius: 3px;
  background-color: #fff;
  .progress {
    height: 100%;
    width: 0;
    border-radius: 3px;
    background-color: #0f0;
    transition: width 0.1s;
  }
}