/* 
  images
  * https://images.unsplash.com/photo-1765448638227-ac943c5698e5?q=80&w=689&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
  * https://images.unsplash.com/photo-1765478233399-81afa6d45c6c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
  * https://images.unsplash.com/photo-1765372823786-1e6dd2c3c7ae?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #222;
}

.clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  transition: all 0.5s;
}

.clip1 {
  background: url(https://images.unsplash.com/photo-1765448638227-ac943c5698e5?q=80&w=689&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
}

.clip2 {
  background: url(https://images.unsplash.com/photo-1765478233399-81afa6d45c6c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  clip-path: polygon(19% 0%, 87% 0, 64% 100%, 33% 100%);
}

.clip3 {
  background: url(https://images.unsplash.com/photo-1765372823786-1e6dd2c3c7ae?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
}

.container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
